{% load static %}
<!--_footer.html-->
<footer class="bg-primary text-light">
    <div class="container navbar-dark pt-4 mt-5">
        <div class="row">
            <div class="col">
                <p class="text-left"><b>Powered by Django</b></p>
            </div>
            <div class="col">
                <p class="text-right"><i>Made By RENATA MONTEIRO</i></p>
            </div>
        </div>
    </div>
</footer>
<!--/_footer.html-->

<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>